<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tin tức</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="./assets/css/main.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="./assets/fonts/Nunito_Sans/stylesheet.css" />
    <link rel="stylesheet" href="./assets/fonts/Prompt/stylesheet.css" />
    <link rel="stylesheet" href="./assets/css/menu.css" type="text/css" />
    <link rel="stylesheet" href="./assets/css/common.css" type="text/css" />
    <link rel="stylesheet" href="./assets/css/index.css" type="text/css" />

    <link
      rel="stylesheet"
      href="./assets/css/bootstrap-datepicker.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="./assets/css/bootstrap-datepicker.standalone.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="./assets/css/bootstrap-datepicker3.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="./assets/css/bootstrap-datepicker3.standalone.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="./assets/css/swiper-bundle.min.css"
      type="text/css"
    />
    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6u5ovaYclFB-pLYhSTqoq57FP1eDM_14&libraries=visualization&language={{$lang}}&callback=initMap"
    ></script>
  </head>

  <body>
    <header id="main-header">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-md-12 header-top-content">
              <a class="header-phone zoom-small" href="tel:0865228506">
                <img src="./assets/images/header-phone.png" alt="phone" />
                <span>+84 865228506</span>
              </a>
              <div class="header-booking">
                <a
                  href="javascript:void(0)"
                  data-toggle="modal"
                  data-target=".booking-modal"
                  class="zoom-small"
                >
                  <img src="./assets/images/header-booking.png" alt="" />
                  <span>Đặt lịch</span>
                </a>

                <div class="dropdown language-select">
                  <button
                    class="btn dropdown-toggle"
                    type="button"
                    id="langguageDropdown"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <img src="./assets/images/vi.png" alt="lang" />
                    <img
                      class="lang-dropdown"
                      src="./assets/images/lang-dropdown.png"
                      alt="down"
                    />
                  </button>
                  <div
                    class="dropdown-menu dropdown-menu-right"
                    aria-labelledby="langguageDropdown"
                  >
                    <a class="dropdown-item" href="#"
                      ><img src="./assets/images/vi.png" alt="lang" /> Việt
                      Nam</a
                    >
                    <a class="dropdown-item" href="#"
                      ><img src="./assets/images/en.png" alt="lang" />
                      English</a
                    >
                    <a class="dropdown-item" href="#"
                      ><img src="./assets/images/japan.png" alt="lang" />
                      Japan</a
                    >
                    <a class="dropdown-item" href="#"
                      ><img src="./assets/images/korean.png" alt="lang" /> South
                      Korea</a
                    >
                    <a class="dropdown-item" href="#"
                      ><img src="./assets/images/china.png" alt="lang" />
                      China</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-wrap">
        <div class="bsnav-mobile">
          <div class="bsnav-mobile-overlay"></div>
          <div class="navbar"></div>
        </div>
        <div class="navbar navbar-expand-lg bsnav container bg-tran nav-nk">
          <a class="navbar-brand" href="/">
            <img
              class="header-logo"
              src="./assets/images/header-logo.png"
              alt="logo"
            />
          </a>
          <button class="navbar-toggler toggler-spring">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-md-end">
            <ul class="navbar-nav navbar-mobile mr-0 navbar-nav-nk">
              <li class="nav-item">
                <a class="nav-link nav-link-only" href="/">TRANG CHỦ</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link nav-link-parent" href="/bds.html">BĐS KCN</a>
                <ul class="navbar-nav-nk-wrapper">
                  <li class="nav-item">
                    <a class="nav-link" href="/bds.html"
                      >Danh sách khu công nghiệp</a
                    >
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/timkiem_kcn.html"
                      >Tìm kiếm với bản đồ</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/bds.html">Xưởng và đất kcn</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link nav-link-parent" href="/duan.html"
                  >DỰ ÁN CĂN HỘ</a
                >
                <ul class="navbar-nav-nk-wrapper">
                  <li class="nav-item">
                    <a class="nav-link" href="/duan.html"
                      >Danh sách bđs căn hộ</a
                    >
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/timkiem_chungcu.html"
                      >Tìm kiếm với bản đồ</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/duan.html"
                      >Các dự án & khu đô thị</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item active dropdown">
                <a class="nav-link nav-link-parent" href="/dichvu_kland.html"
                  >DỊCH VỤ</a
                >
                <ul class="navbar-nav-nk-wrapper">
                  <li class="nav-item">
                    <a class="nav-link" href="#"
                      >Dịch vụ khảo sát bất động sản</a
                    >
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Dịch vụ pháp lý</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Dịch vụ xúc tiến đầu tư</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Dịch vụ tuyển dụng</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Gửi yêu cầu</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link nav-link-parent" href="/tintuc.html"
                  >TIN TỨC</a
                >
                <ul class="navbar-nav-nk-wrapper">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Tin tức thị trường</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Tin tức pháp lý</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Tin tức tuyển dụng</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Tin tức khác</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item zoom-small">
                <a class="nav-link login" href="#">Đăng Nhập</a>
              </li>
            </ul>
          </div>
          <div class="dropdown language-select language-select-mobile">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="langguageDropdown"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span>VI</span>
              <img
                class="lang-dropdown"
                src="./assets/images/lang-dropdown.png"
                alt="down"
              />
            </button>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="langguageDropdown"
            >
              <a class="dropdown-item" href="#"
                ><img src="./assets/images/vi.png" alt="lang" /> Việt Nam</a
              >
              <a class="dropdown-item" href="#"
                ><img src="./assets/images/en.png" alt="lang" /> English</a
              >
              <a class="dropdown-item" href="#"
                ><img src="./assets/images/japan.png" alt="lang" /> Japan</a
              >
              <a class="dropdown-item" href="#"
                ><img src="./assets/images/korean.png" alt="lang" />South
                Korea</a
              >
              <a class="dropdown-item" href="#"
                ><img src="./assets/images/china.png" alt="lang" /> China</a
              >
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="dichvu-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="box-header header-sticky">
              Hệ Thống Dịch Vụ - Khu Công Nghiệp
            </h3>
          </div>
          <div class="col-md-8">
            <p class="head-des">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit it aliqua dolor do amet sint.
            </p>
          </div>
          <div class="col-md-12 banner-main">
            <img src="./assets/images/banner_dichvu2.png" title="banner" />
          </div>
          <div class="col-md-12">
            <h3 class="box-header header-sticky">Dịch vụ của chúng tôi</h3>
          </div>
          <div class="col-md-8">
            <p class="head-des">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit it aliqua dolor do amet sint.
            </p>
          </div>
          <div class="col-md-12 list-dichvu">
            <button class="item zoom-small">
              <img src="./assets/images/icon_tuvan_bds.png" alt="tuvan" />
              Tư vấn bất động sản
            </button>
            <button class="item zoom-small">
              <img src="./assets/images/icon_xuctien_dautu.png" alt="tuvan" />
              Xúc tiến đầu tư
            </button>
            <button class="item zoom-small">
              <img
                src="./assets/images/icon_nghiencuu_thitruong.png"
                alt="tuvan"
              />
              Nghiên cứu thị trường
            </button>
            <button class="item zoom-small">
              <img src="./assets/images/icon_phaply_bds.png" alt="tuvan" />
              Pháp lý bất động sản
            </button>
            <button class="item zoom-small">
              <img src="./assets/images/icon_muaban_satnhap.png" alt="tuvan" />
              Mua bán & sát nhập
            </button>
            <button class="item zoom-small">
              <img src="./assets/images/icon_dichvu_khac.png" alt="tuvan" />
              Các dịch vụ khác
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="bg_news_white">
      <div class="dichvu_why">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3 class="general-title">Tại Sao Chọn Chúng Tôi</h3>
              <p class="promotion-content">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit it aliqua dolor do amet sint.
              </p>
            </div>
            <div class="col-md-12 item first-box">
              <div class="row">
                <div class="col-md-6">
                  <img
                    class="thumb zoom-small"
                    src="./assets/images/why4.jpg"
                    alt="why 1"
                  />
                </div>
                <div class="col-md-6 content">
                  <h3>Dịch vụ uy tín & chất lượng</h3>
                  <div class="name">
                    Chúng tôi tâm niệm rằng khách hàng là nguồn gốc của dịch vụ,
                    luôn hướng đến sự hoàn hảo.
                    <div class="border-gradient"></div>
                  </div>
                  <p class="des">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit it aliqua dolor do amet sint. Velit it
                    aliqua dolor do int. Velit it aliqua dolor do amet sint.
                    Velit it aliqua dolor do int. Velit it aliqua dolor do amet
                    sint.
                  </p>
                  <div class="call-now">
                    <p class="head">Gọi chúng tôi</p>
                    <a href="tel:086-522-8506" title="phone" class="call">
                      <img
                        class="icon-call zoom-small"
                        src="./assets/images/call_circle.png"
                        alt="call"
                      />
                      086-522-8506
                    </a>
                    <div class="support">Chúng tôi hỗ trợ khách hàng 24/7</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 item">
              <div class="row">
                <div class="col-md-6">
                  <img
                    class="thumb zoom-small"
                    src="./assets/images/why2.png"
                    alt="why 1"
                  />
                </div>
                <div class="col-md-6 content order-first">
                  <h3>Kết nối đầu tư dài hạn</h3>
                  <div class="name">
                    Chúng tôi tâm niệm rằng khách hàng là nguồn gốc của dịch vụ,
                    luôn hướng đến sự hoàn hảo.
                    <div class="border-gradient"></div>
                  </div>
                  <div class="item-connect">
                    <img
                      src="./assets/images/icon_ketnoi1.png"
                      alt="ketnoi 1"
                    />
                    KLAND không bao giờ khiến bạn thất vọng trong sản phẩm cũng
                    như trong quá trình phục vụ khách hàng.
                  </div>
                  <div class="item-connect">
                    <img
                      src="./assets/images/icon_ketnoi2.png"
                      alt="ketnoi 2"
                    />
                    Dự án lớn vượt xa tầm quốc tế, thỏa mạn được những yêu cầu
                    khắt khe của những nhà đầu tư khó tính nhất.
                  </div>
                  <div class="item-connect">
                    <img
                      src="./assets/images/icon_ketnoi3.png"
                      alt="ketnoi 2"
                    />
                    Pháp lý luôn công minh và rõ ràng không để các nhà đầu tư
                    phải thấp thỏm lo âu.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 item">
              <div class="row">
                <div class="col-md-6">
                  <img
                    class="thumb zoom-small"
                    src="./assets/images/why3.png"
                    alt="why 3"
                  />
                </div>
                <div class="col-md-6 content">
                  <h3>Đại lý phân phối bất động sản “độc quyền”</h3>
                  <div class="name">
                    Chúng tôi tâm niệm rằng khách hàng là nguồn gốc của dịch vụ,
                    luôn hướng đến sự hoàn hảo.
                    <div class="border-gradient"></div>
                  </div>
                  <div class="item-connect">
                    <img
                      src="./assets/images/icon_star_group.png"
                      alt="ketnoi 1"
                    />
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit it aliqua Amet minim mollit non deserunt
                    ullamco
                  </div>
                  <div class="item-connect">
                    <img
                      src="./assets/images/icon_star_group.png"
                      alt="ketnoi 2"
                    />
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor
                    do amet sint. Velit it aliqua Amet minim mollit non deserunt
                    ullamco
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-block">
      <div class="footer-wrapper">
        <div class="container">
          <div class="row footer-header">
            <div class="col-md-8">
              <a href="#">
                <img
                  class="footer-logo"
                  src="./assets/images/footer_logo.png"
                  alt="logo"
              /></a>
            </div>
            <div class="col-md-2 col-6 footer-header-item item1">
              <p>Hotline miễn phí <span>(24/7)</span></p>
              <a href="tel:0865528506">086-522-8506</a>
            </div>
            <div class="col-md-2 col-6 footer-header-item item2">
              <p>Chăm sóc khách hàng</p>
              <a href="mailto:hotro@kland.vn">hotro@kland.vn</a>
            </div>
          </div>

          <div class="row header-content">
            <div class="col-md-3 header-content-item has-line">
              <h4>Giới thiệu</h4>
              <p class="about-p-1">
                Công ty CP Tư vấn và Dịch vụ đầu tư Bất động sản Kland
              </p>
              <p class="about-p-2">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit
              </p>
            </div>
            <div class="col-md-3 header-content-item has-line">
              <h4>Liên hệ</h4>
              <div class="contact-item">
                <a href="tel:0865228506"
                  ><img src="./assets/images/phone.png" alt="contact" />
                  <div>
                    <p>Hot line</p>
                    <span>0865228506</span>
                  </div></a
                >
              </div>
              <div class="contact-item">
                <a href="mailto:Contact@kland.com"
                  ><img src="./assets/images/mail.png" alt="contact" />
                  <div>
                    <p>E-mail</p>
                    <span>Contact@kland.com</span>
                  </div></a
                >
              </div>
              <div class="contact-item">
                <a href="#"
                  ><img src="./assets/images/map-pin.png" alt="contact" />
                  <div>
                    <p>Địa chỉ</p>
                    <span>Số 12 đường Láng, TP Hà Nội</span>
                  </div></a
                >
              </div>
            </div>
            <div
              class="col-md-3 header-content-item has-line header-content-item-link"
            >
              <h4>Liên kết khác</h4>
              <a target="_blank" href="http://kjobs.vn"><p>kjobs.vn</p></a>
              <a target="_blank" href="http://kcar.vn"><p>kcar.vn</p></a>
              <a target="_blank" href="http://trustconsulting.vn"
                ><p>trustconsulting.vn</p></a
              >
            </div>
            <div class="col-md-3 header-content-item header-content-item-store">
              <h4>Kland device</h4>
              <a target="_blank" href="#"
                ><img
                  class="zoom-small"
                  src="./assets/images/chplay.png"
                  alt="ch"
              /></a>
              <a target="_blank" href="#"
                ><img
                  class="zoom-small"
                  src="./assets/images/appstore.png"
                  alt="appstore"
              /></a>
            </div>
          </div>

          <div class="row header-end">
            <div class="col-md-3 header-end-1">
              <a href="#" target="_blank" rel="noopener noreferrer"
                ><p>@2022 Kland powred by OKHUB</p></a
              >
            </div>
            <div class="col-md-3 header-end-2">
              <a href="#" target="_blank"
                ><img
                  class="zoom"
                  src="./assets/images/fb.png"
                  alt="social-link"
              /></a>
              <a href="#" target="_blank"
                ><img
                  class="zoom"
                  src="./assets/images/youtube.png"
                  alt="social-link"
              /></a>
              <a href="#" target="_blank"
                ><img
                  class="zoom"
                  src="./assets/images/insta.png"
                  alt="social-link"
              /></a>

              <a href="#" target="_blank"
                ><img
                  class="zoom"
                  src="./assets/images/twitter.png"
                  alt="social-link"
              /></a>
            </div>
            <div class="col-md-6 header-end-3">
              Kland Vietnam & JustConsulting - Vietnam Real Estate Channel &
              Support Legal
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="request-btn zoom-small">
      <a href="#">
        <img src="./assets/images/request.png" alt="img" />
        <p>Gửi yêu cầu</p>
      </a>
    </div>
    <div class="booking-btn zoom-small">
      <a
        href="javascript:void(0)"
        data-toggle="modal"
        data-target=".booking-modal"
      >
        <img src="./assets/images/header-booking.png" alt="img" />
        <p>Đặt lịch</p>
      </a>
    </div>
    <div
      class="modal fade booking-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myLargeModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered modal-lg booking-modal-wrapper"
      >
        <div class="modal-content">
          <button
            type="button"
            class="close close-modal-btn"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body booking-block">
            <div class="container">
              <div class="row">
                <div class="col-md-12 booking-layout">
                  <div class="booking-outside">
                    <div class="booking-bg"></div>
                    <div class="booking-wrapper">
                      <div class="row z-10">
                        <h3 class="booking-title z-10">Đặt Lịch Xem BĐS</h3>
                        <p class="col-md-6 booking-content z-10 p-0">
                          Amet minim mollit non deserunt ullamco est sit aliqua
                          dolor do amet sint. Velit it aliqua dolor do amet
                          sint. Velit it aliqua dolor do amet sint. Velit
                        </p>
                      </div>
                      <form action="#" class="row z-10 booking-form">
                        <div class="col-md-6 z-10 booking-left-input-group">
                          <input
                            type="text"
                            class="form-control booking-input"
                            placeholder="Họ và tên"
                            value=""
                            required
                          />
                          <input
                            type="number"
                            class="form-control booking-input"
                            placeholder="Số điện thoại"
                            value=""
                            required
                          />
                          <input
                            type="email"
                            class="form-control booking-input"
                            placeholder="Email"
                            value=""
                            required
                          />
                          <input
                            type="text"
                            class="form-control booking-input date-picker-nk"
                            placeholder="Thời gian đặt lịch"
                            value=""
                            required
                          />
                          <select
                            class="form-select booking-input booking-select"
                            name="booking_type"
                            id="booking_type"
                            value=""
                          >
                            <option value="">Địa điểm bất động sản</option>
                            <option value="1">Địa điểm bất động sản 1</option>
                            <option value="2">Địa điểm bất động sản 2</option>
                            <option value="3">Địa điểm bất động sản 3</option>
                          </select>

                          <div class="add-on">
                            <p>Các dịch vụ hỗ trợ khác</p>
                            <img src="./assets/images/plus.png" alt="plus" />
                          </div>
                        </div>
                        <div class="add-on-list col-md-6 z-10 p-0">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-check booking-form-check">
                                <input
                                  class="form-check-input booking-checkbox"
                                  type="checkbox"
                                  value=""
                                  id="cb1"
                                />
                                <label
                                  class="form-check-label booking-checkbox-label"
                                  for="cb1"
                                >
                                  Dịch vụ dẫn dắt tham quan sản phẩm offline
                                  <br />
                                  <span
                                    >Thăm quan trực tiếp BĐS & thương thảo làm
                                    việc trực tiếp với chủ nhà/ban quản lý
                                    (100$/lần)</span
                                  >
                                </label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-check booking-form-check">
                                <input
                                  class="form-check-input booking-checkbox"
                                  type="checkbox"
                                  value=""
                                  id="cb2"
                                />
                                <label
                                  class="form-check-label booking-checkbox-label"
                                  for="cb2"
                                >
                                  Dịch vụ luật sư và tư vấn đi cùng trợ giúp
                                  <br />
                                  <span
                                    >Luật sư tư vấn viên đi cùng hỗ trợ thương
                                    thảo Kiểm tra tính pháp lý (100$/lần ~
                                    3h)</span
                                  >
                                </label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-check booking-form-check">
                                <input
                                  class="form-check-input booking-checkbox"
                                  type="checkbox"
                                  value=""
                                  id="cb3"
                                />
                                <label
                                  class="form-check-label booking-checkbox-label"
                                  for="cb3"
                                >
                                  Dịch vụ dẫn dắt tham quan sản phẩm offline
                                  <br />
                                  <span
                                    >Đưa đón trong khoảng 100km (100$/lần)</span
                                  >
                                </label>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <p class="booking-note">
                                (*) "quý khách hàng có thể liên hệ trực tiếp qua
                                email: <br />
                                contact@kland.vn để đặt lịch và nhận tư vấn"
                              </p>
                            </div>
                            <div class="col-md-12 booking-content-input">
                              <label for="content" class="form-label"
                                >Thông điệp và yêu cầu của bạn</label
                              >
                              <textarea
                                class="form-control"
                                id="content"
                                rows="3"
                                placeholder="Nội dung yêu cầu khác"
                              ></textarea>
                            </div>
                          </div>
                        </div>
                        <button
                          type="submit"
                          class="btn booking-btn-submit z-10 zoom-small"
                        >
                          Đặt lịch ngay
                          <!-- <img
                        src="./assets/images/long_arrow_right.png"
                        alt="icon"
                      /> -->
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/vendor.min.js"></script>
    <script src="./assets/js/swiper-bundle.min.js"></script>
    <script src="./assets/js/bootstrap-datepicker.min.js"></script>
    <script src="./assets/js/bootstrap-datepicker.vi.min.js"></script>
    <script src="./assets/js/bootstrap-datepicker.ja.min.js"></script>
    <script src="./assets/js/bootstrap-datepicker.ko.min.js"></script>
    <script src="./assets/js/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="./assets/js/theia-sticky-sidebar.js"></script>
    <script src="./assets/js/index.js"></script>
    <script src="./assets/js/menu.js"></script>

    <script src="./assets/js/sticky.js"></script>
  </body>
</html>
