<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tin tức</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="./assets/css/main.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="./assets/fonts/Nunito_Sans/stylesheet.css" />
    <link rel="stylesheet" href="./assets/fonts/Prompt/stylesheet.css" />
    <link rel="stylesheet" href="./assets/css/menu.css" type="text/css" />
    <link rel="stylesheet" href="./assets/css/common.css" type="text/css" />
    <link rel="stylesheet" href="./assets/css/index.css" type="text/css" />

    <link
      rel="stylesheet"
      href="./assets/css/bootstrap-datepicker.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="./assets/css/bootstrap-datepicker.standalone.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="./assets/css/bootstrap-datepicker3.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="./assets/css/bootstrap-datepicker3.standalone.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="./assets/css/swiper-bundle.min.css"
      type="text/css"
    />
    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6u5ovaYclFB-pLYhSTqoq57FP1eDM_14&libraries=visualization&language={{$lang}}&callback=initMap"
    ></script>
  </head>

  <body>
    <header id="main-header">
      <div class="header-top">
        <div class="container">
          <div class="row">
            <div class="col-md-12 header-top-content">
              <a class="header-phone zoom-small" href="tel:0865228506">
                <img src="./assets/images/header-phone.png" alt="phone" />
                <span>+84 865228506</span>
              </a>
              <div class="header-booking">
                <a
                  href="javascript:void(0)"
                  data-toggle="modal"
                  data-target=".booking-modal"
                  class="zoom-small"
                >
                  <img src="./assets/images/header-booking.png" alt="" />
                  <span>Đặt lịch</span>
                </a>

                <div class="dropdown language-select">
                  <button
                    class="btn dropdown-toggle"
                    type="button"
                    id="langguageDropdown"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <img src="./assets/images/vi.png" alt="lang" />
                    <img
                      class="lang-dropdown"
                      src="./assets/images/lang-dropdown.png"
                      alt="down"
                    />
                  </button>
                  <div
                    class="dropdown-menu dropdown-menu-right"
                    aria-labelledby="langguageDropdown"
                  >
                    <a class="dropdown-item" href="#"
                      ><img src="./assets/images/vi.png" alt="lang" /> Việt
                      Nam</a
                    >
                    <a class="dropdown-item" href="#"
                      ><img src="./assets/images/en.png" alt="lang" />
                      English</a
                    >
                    <a class="dropdown-item" href="#"
                      ><img src="./assets/images/japan.png" alt="lang" />
                      Japan</a
                    >
                    <a class="dropdown-item" href="#"
                      ><img src="./assets/images/korean.png" alt="lang" /> South
                      Korea</a
                    >
                    <a class="dropdown-item" href="#"
                      ><img src="./assets/images/china.png" alt="lang" />
                      China</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-wrap">
        <div class="bsnav-mobile">
          <div class="bsnav-mobile-overlay"></div>
          <div class="navbar"></div>
        </div>
        <div class="navbar navbar-expand-lg bsnav container bg-tran nav-nk">
          <a class="navbar-brand" href="/">
            <img
              class="header-logo"
              src="./assets/images/header-logo.png"
              alt="logo"
            />
          </a>
          <button class="navbar-toggler toggler-spring">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-md-end">
            <ul class="navbar-nav navbar-mobile mr-0 navbar-nav-nk">
              <li class="nav-item">
                <a class="nav-link nav-link-only" href="/">TRANG CHỦ</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link nav-link-parent" href="/bds.html">BĐS KCN</a>
                <ul class="navbar-nav-nk-wrapper">
                  <li class="nav-item">
                    <a class="nav-link" href="/bds.html"
                      >Danh sách khu công nghiệp</a
                    >
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/timkiem_kcn.html"
                      >Tìm kiếm với bản đồ</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/bds.html">Xưởng và đất kcn</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link nav-link-parent" href="/duan.html"
                  >DỰ ÁN CĂN HỘ</a
                >
                <ul class="navbar-nav-nk-wrapper">
                  <li class="nav-item">
                    <a class="nav-link" href="/duan.html"
                      >Danh sách bđs căn hộ</a
                    >
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/timkiem_chungcu.html"
                      >Tìm kiếm với bản đồ</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/duan.html"
                      >Các dự án & khu đô thị</a
                    >
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link nav-link-parent" href="/dichvu_kland.html"
                  >DỊCH VỤ</a
                >
                <ul class="navbar-nav-nk-wrapper">
                  <li class="nav-item">
                    <a class="nav-link" href="#"
                      >Dịch vụ khảo sát bất động sản</a
                    >
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Dịch vụ pháp lý</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Dịch vụ xúc tiến đầu tư</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Dịch vụ tuyển dụng</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Gửi yêu cầu</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item active dropdown">
                <a class="nav-link nav-link-parent" href="/tintuc.html"
                  >TIN TỨC</a
                >
                <ul class="navbar-nav-nk-wrapper">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Tin tức thị trường</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Tin tức pháp lý</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Tin tức tuyển dụng</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Tin tức khác</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item zoom-small">
                <a class="nav-link login" href="#">Đăng Nhập</a>
              </li>
            </ul>
          </div>
          <div class="dropdown language-select language-select-mobile">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="langguageDropdown"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span>VI</span>
              <img
                class="lang-dropdown"
                src="./assets/images/lang-dropdown.png"
                alt="down"
              />
            </button>
            <div
              class="dropdown-menu dropdown-menu-right"
              aria-labelledby="langguageDropdown"
            >
              <a class="dropdown-item" href="#"
                ><img src="./assets/images/vi.png" alt="lang" /> Việt Nam</a
              >
              <a class="dropdown-item" href="#"
                ><img src="./assets/images/en.png" alt="lang" /> English</a
              >
              <a class="dropdown-item" href="#"
                ><img src="./assets/images/japan.png" alt="lang" /> Japan</a
              >
              <a class="dropdown-item" href="#"
                ><img src="./assets/images/korean.png" alt="lang" />South
                Korea</a
              >
              <a class="dropdown-item" href="#"
                ><img src="./assets/images/china.png" alt="lang" /> China</a
              >
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="bg_news_white">
      <div class="header-bds">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">TRANG CHỦ </a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    TIN TỨC
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="news-promotion">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3 class="general-title">Tin Tức</h3>
              <p class="promotion-content">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit it aliqua dolor do amet sint.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="promotion-news-item">
                <a href="#">
                  <img
                    class="zoom-small"
                    src="./assets/images/promotion_news.png"
                    alt=""
                  />
                </a>
                <div class="promotion-content">
                  <a href="">
                    <p class="news-label zoom-small">Quảng cáo</p>
                    <p class="max-line-2">
                      Cen Land và Hồng Lam Xuân Thành ký kết hợp tác đầu tư phát
                      triển dự án Hoa Tiên Paradise
                    </p>
                    <span>Thứ 3, 15/3/2022</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="promotion-news-item">
                <a href="#">
                  <img
                    class="zoom-small"
                    src="./assets/images/promotion_news.png"
                    alt=""
                  />
                </a>
                <div class="promotion-content">
                  <a href="">
                    <p class="news-label zoom-small">Quảng cáo</p>
                    <p class="max-line-2">
                      Cen Land và Hồng Lam Xuân Thành ký kết hợp tác đầu tư phát
                      triển dự án Hoa Tiên Paradise
                    </p>
                    <span>Thứ 3, 15/3/2022</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="news-intro">
        <div class="container">
          <div class="row">
            <div class="col-md-6 offset-md-6 news-intro-wrapper">
              <h3>TOP 10 KCN HOT NĂM 2022</h3>
              <p class="news-intro-content">
                Sự lựa chọn tốt nhất KLAND dành cho bạn
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet dolore.
              </p>
              <button class="btn news-intro-detail zoom-small">
                Xem chi tiết
                <img src="./assets/images/long-arrow-right.png" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="news-list">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-lg-9">
              <div class="row">
                <div class="col-md-8 col-12">
                  <h3 class="general-title">Tin Tức Nổi Bật</h3>
                </div>
                <div class="col-md-4 col-4 btn-view-type-wrapper-2">
                  <div class="btn-view-type-wrapper">
                    <button
                      class="btn btn-view-type btn-view-type-list zoom-small"
                    >
                      <img
                        class=""
                        src="./assets/images/active_list.png"
                        alt="filter"
                      />
                    </button>
                    <button
                      class="btn btn-view-type btn-view-type-net zoom-small active"
                    >
                      <img src="./assets/images/active_net.png" alt="filter" />
                    </button>
                  </div>
                </div>
              </div>
              <div class="row bds-project-type-net">
                <div class="col-md-6">
                  <div class="news-net-item">
                    <div>
                      <div class="news-img-wrapper">
                        <a href="/chitiet_tintuc.html">
                          <img
                            class="news-img zoom"
                            src="./assets/images/news_img.png"
                            alt=""
                          />
                        </a>
                      </div>
                      <a href="/chitiet_tintuc.html">
                        <h4 class="max-line-2">
                          Cen Land và Hồng Lam Xuân Thành ký kết hợp sức
                          omagosss Cen Land và Hồng Lam Xuân Thành ký kết hợp
                          sức omagosss
                        </h4>
                      </a>
                    </div>
                    <div class="end-news-content">
                      <div>
                        <p class="label-news zoom-small">Thị trường</p>
                        <span class="news-date">15/3/2022</span>
                      </div>
                      <p class="max-line-2">
                        Amet minim mollit non deserunt ullamco est sit Amet
                        minim mollit non deserunt ullamco est situllamco est sit
                        Amet minim mollit non deserunt ullamco est sit
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="news-net-item">
                    <div>
                      <div class="news-img-wrapper">
                        <a href="/chitiet_tintuc.html">
                          <img
                            class="news-img zoom"
                            src="./assets/images/news_img.png"
                            alt=""
                          />
                        </a>
                      </div>
                      <a href="/chitiet_tintuc.html">
                        <h4 class="max-line-2">
                          Cen Land và Hồng Lam Xuân Thành ký kết hợp sức
                          omagosss Cen Land và Hồng Lam Xuân Thành ký kết hợp
                          sức omagosss
                        </h4>
                      </a>
                    </div>
                    <div class="end-news-content">
                      <div>
                        <p class="label-news zoom-small">Thị trường</p>
                        <span class="news-date">15/3/2022</span>
                      </div>
                      <p class="max-line-2">
                        Amet minim mollit non deserunt ullamco est sit Amet
                        minim mollit non deserunt ullamco est situllamco est sit
                        Amet minim mollit non deserunt ullamco est sit
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="news-net-item">
                    <div>
                      <div class="news-img-wrapper">
                        <a href="/chitiet_tintuc.html">
                          <img
                            class="news-img zoom"
                            src="./assets/images/news_img.png"
                            alt=""
                          />
                        </a>
                      </div>
                      <a href="/chitiet_tintuc.html">
                        <h4 class="max-line-2">
                          Cen Land và Hồng Lam Xuân Thành ký kết hợp sức
                          omagosss Cen Land và Hồng Lam Xuân Thành ký kết hợp
                          sức omagosss
                        </h4>
                      </a>
                    </div>
                    <div class="end-news-content">
                      <div>
                        <p class="label-news zoom-small">Thị trường</p>
                        <span class="news-date">15/3/2022</span>
                      </div>
                      <p class="max-line-2">
                        Amet minim mollit non deserunt ullamco est sit Amet
                        minim mollit non deserunt ullamco est situllamco est sit
                        Amet minim mollit non deserunt ullamco est sit
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="news-net-item">
                    <div>
                      <div class="news-img-wrapper">
                        <a href="/chitiet_tintuc.html">
                          <img
                            class="news-img zoom"
                            src="./assets/images/news_img.png"
                            alt=""
                          />
                        </a>
                      </div>
                      <a href="/chitiet_tintuc.html">
                        <h4 class="max-line-2">
                          Cen Land và Hồng Lam Xuân Thành ký kết hợp sức
                          omagosss Cen Land và Hồng Lam Xuân Thành ký kết hợp
                          sức omagosss
                        </h4>
                      </a>
                    </div>
                    <div class="end-news-content">
                      <div>
                        <p class="label-news zoom-small">Thị trường</p>
                        <span class="news-date">15/3/2022</span>
                      </div>
                      <p class="max-line-2">
                        Amet minim mollit non deserunt ullamco est sit Amet
                        minim mollit non deserunt ullamco est situllamco est sit
                        Amet minim mollit non deserunt ullamco est sit
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="news-net-item">
                    <div>
                      <div class="news-img-wrapper">
                        <a href="/chitiet_tintuc.html">
                          <img
                            class="news-img zoom"
                            src="./assets/images/news_img.png"
                            alt=""
                          />
                        </a>
                      </div>
                      <a href="/chitiet_tintuc.html">
                        <h4 class="max-line-2">
                          Cen Land và Hồng Lam Xuân Thành ký kết hợp sức
                          omagosss Cen Land và Hồng Lam Xuân Thành ký kết hợp
                          sức omagosss
                        </h4>
                      </a>
                    </div>
                    <div class="end-news-content">
                      <div>
                        <p class="label-news zoom-small">Thị trường</p>
                        <span class="news-date">15/3/2022</span>
                      </div>
                      <p class="max-line-2">
                        Amet minim mollit non deserunt ullamco est sit Amet
                        minim mollit non deserunt ullamco est situllamco est sit
                        Amet minim mollit non deserunt ullamco est sit
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="news-net-item">
                    <div>
                      <div class="news-img-wrapper">
                        <a href="/chitiet_tintuc.html">
                          <img
                            class="news-img zoom"
                            src="./assets/images/news_img.png"
                            alt=""
                          />
                        </a>
                      </div>
                      <a href="/chitiet_tintuc.html">
                        <h4 class="max-line-2">
                          Cen Land và Hồng Lam Xuân Thành ký kết hợp sức
                          omagosss Cen Land và Hồng Lam Xuân Thành ký kết hợp
                          sức omagosss
                        </h4>
                      </a>
                    </div>
                    <div class="end-news-content">
                      <div>
                        <p class="label-news zoom-small">Thị trường</p>
                        <span class="news-date">15/3/2022</span>
                      </div>
                      <p class="max-line-2">
                        Amet minim mollit non deserunt ullamco est sit Amet
                        minim mollit non deserunt ullamco est situllamco est sit
                        Amet minim mollit non deserunt ullamco est sit
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row bds-project-type-list d-none">
                <div class="col-md-12 col-lg-6">
                  <div class="news-list-item">
                    <div class="news-list-img">
                      <a href="/chitiet_tintuc.html"
                        ><img
                          class=""
                          src="./assets/images/news_img_list.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="news-list-content-wrapper">
                      <a href="/chitiet_tintuc.html">
                        <h4 class="max-line-2">
                          Cen Land và Hồng Lam Xuân Thành ký kết hợp sức
                          omagosss Cen Land và Hồng Lam Xuân Thành ký kết hợp
                          sức omagosss
                        </h4>
                      </a>
                      <div>
                        <div>
                          <p class="label-news zoom-small">Thị trường</p>
                          <span class="news-date">15/3/2022</span>
                        </div>
                        <p class="max-line-2">
                          Amet minim mollit non deserunt ullamco est sit Amet
                          minim mollit non deserunt ullamco est situllamco est
                          sit Amet minim mollit non deserunt ullamco est sit
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="news-list-item">
                    <div class="news-list-img">
                      <a href="/chitiet_tintuc.html"
                        ><img
                          class=""
                          src="./assets/images/news_img_list.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="news-list-content-wrapper">
                      <a href="/chitiet_tintuc.html">
                        <h4 class="max-line-2">
                          Cen Land và Hồng Lam Xuân Thành ký kết hợp sức
                          omagosss Cen Land và Hồng Lam Xuân Thành ký kết hợp
                          sức omagosss
                        </h4>
                      </a>
                      <div>
                        <div>
                          <p class="label-news zoom-small">Thị trường</p>
                          <span class="news-date">15/3/2022</span>
                        </div>
                        <p class="max-line-2">
                          Amet minim mollit non deserunt ullamco est sit Amet
                          minim mollit non deserunt ullamco est situllamco est
                          sit Amet minim mollit non deserunt ullamco est sit
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="news-list-item">
                    <div class="news-list-img">
                      <a href="/chitiet_tintuc.html"
                        ><img
                          class=""
                          src="./assets/images/news_img_list.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="news-list-content-wrapper">
                      <a href="/chitiet_tintuc.html">
                        <h4 class="max-line-2">
                          Cen Land và Hồng Lam Xuân Thành ký kết hợp sức
                          omagosss Cen Land và Hồng Lam Xuân Thành ký kết hợp
                          sức omagosss
                        </h4>
                      </a>
                      <div>
                        <div>
                          <p class="label-news zoom-small">Thị trường</p>
                          <span class="news-date">15/3/2022</span>
                        </div>
                        <p class="max-line-2">
                          Amet minim mollit non deserunt ullamco est sit Amet
                          minim mollit non deserunt ullamco est situllamco est
                          sit Amet minim mollit non deserunt ullamco est sit
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="news-list-item">
                    <div class="news-list-img">
                      <a href="/chitiet_tintuc.html"
                        ><img
                          class=""
                          src="./assets/images/news_img_list.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="news-list-content-wrapper">
                      <a href="/chitiet_tintuc.html">
                        <h4 class="max-line-2">
                          Cen Land và Hồng Lam Xuân Thành ký kết hợp sức
                          omagosss Cen Land và Hồng Lam Xuân Thành ký kết hợp
                          sức omagosss
                        </h4>
                      </a>
                      <div>
                        <div>
                          <p class="label-news zoom-small">Thị trường</p>
                          <span class="news-date">15/3/2022</span>
                        </div>
                        <p class="max-line-2">
                          Amet minim mollit non deserunt ullamco est sit Amet
                          minim mollit non deserunt ullamco est situllamco est
                          sit Amet minim mollit non deserunt ullamco est sit
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="news-list-item">
                    <div class="news-list-img">
                      <a href="/chitiet_tintuc.html"
                        ><img
                          class=""
                          src="./assets/images/news_img_list.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="news-list-content-wrapper">
                      <a href="/chitiet_tintuc.html">
                        <h4 class="max-line-2">
                          Cen Land và Hồng Lam Xuân Thành ký kết hợp sức
                          omagosss Cen Land và Hồng Lam Xuân Thành ký kết hợp
                          sức omagosss
                        </h4>
                      </a>
                      <div>
                        <div>
                          <p class="label-news zoom-small">Thị trường</p>
                          <span class="news-date">15/3/2022</span>
                        </div>
                        <p class="max-line-2">
                          Amet minim mollit non deserunt ullamco est sit Amet
                          minim mollit non deserunt ullamco est situllamco est
                          sit Amet minim mollit non deserunt ullamco est sit
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="news-list-item">
                    <div class="news-list-img">
                      <a href="/chitiet_tintuc.html"
                        ><img
                          class=""
                          src="./assets/images/news_img_list.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="news-list-content-wrapper">
                      <a href="/chitiet_tintuc.html">
                        <h4 class="max-line-2">
                          Cen Land và Hồng Lam Xuân Thành ký kết hợp sức
                          omagosss Cen Land và Hồng Lam Xuân Thành ký kết hợp
                          sức omagosss
                        </h4>
                      </a>
                      <div>
                        <div>
                          <p class="label-news zoom-small">Thị trường</p>
                          <span class="news-date">15/3/2022</span>
                        </div>
                        <p class="max-line-2">
                          Amet minim mollit non deserunt ullamco est sit Amet
                          minim mollit non deserunt ullamco est situllamco est
                          sit Amet minim mollit non deserunt ullamco est sit
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="news-list-item">
                    <div class="news-list-img">
                      <a href="/chitiet_tintuc.html"
                        ><img
                          class=""
                          src="./assets/images/news_img_list.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="news-list-content-wrapper">
                      <a href="/chitiet_tintuc.html">
                        <h4 class="max-line-2">
                          Cen Land và Hồng Lam Xuân Thành ký kết hợp sức
                          omagosss Cen Land và Hồng Lam Xuân Thành ký kết hợp
                          sức omagosss
                        </h4>
                      </a>
                      <div>
                        <div>
                          <p class="label-news zoom-small">Thị trường</p>
                          <span class="news-date">15/3/2022</span>
                        </div>
                        <p class="max-line-2">
                          Amet minim mollit non deserunt ullamco est sit Amet
                          minim mollit non deserunt ullamco est situllamco est
                          sit Amet minim mollit non deserunt ullamco est sit
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6">
                  <div class="news-list-item">
                    <div class="news-list-img">
                      <a href="/chitiet_tintuc.html"
                        ><img
                          class=""
                          src="./assets/images/news_img_list.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="news-list-content-wrapper">
                      <a href="/chitiet_tintuc.html">
                        <h4 class="max-line-2">
                          Cen Land và Hồng Lam Xuân Thành ký kết hợp sức
                          omagosss Cen Land và Hồng Lam Xuân Thành ký kết hợp
                          sức omagosss
                        </h4>
                      </a>
                      <div>
                        <div>
                          <p class="label-news zoom-small">Thị trường</p>
                          <span class="news-date">15/3/2022</span>
                        </div>
                        <p class="max-line-2">
                          Amet minim mollit non deserunt ullamco est sit Amet
                          minim mollit non deserunt ullamco est situllamco est
                          sit Amet minim mollit non deserunt ullamco est sit
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row pt-4">
                <div class="col-md-12">
                  <div class="paginate-list">
                    <ul>
                      <li class="prev zoom">
                        <a href="#">
                          <img src="./assets/images/arrow-left.png" alt="" />
                        </a>
                      </li>
                      <li class="paginate-item active zoom-small">
                        <a href="#">1</a>
                      </li>
                      <li class="paginate-item zoom-small">
                        <a href="#">2</a>
                      </li>
                      <li class="paginate-item zoom-small">
                        <a href="#">3</a>
                      </li>
                      <li class="paginate-item zoom-small">
                        <a href="#">4</a>
                      </li>
                      <li class="paginate-item zoom-small">
                        <a href="#">5</a>
                      </li>
                      <li class="paginate-item zoom-small">
                        <a href="#">6</a>
                      </li>
                      <li class="next zoom">
                        <a href="#">
                          <img src="./assets/images/arrow-right.png" alt="" />
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-3 sidebar-right">
              <div id="sidebar-right" class="theiaStickySidebar">
                <div class="box-news-sidebar box-category">
                  <h2 class="title">Danh mục tin tức</h2>
                  <ul>
                    <li class="zoom-small news-category-nk">
                      <img src="./assets/images/speaker.png" alt="speaker" />
                      <a href="" title="news">Tin tức nổi bật</a>
                    </li>
                    <li class="zoom-small news-category-nk">
                      <img src="./assets/images/speaker.png" alt="speaker" />
                      <a href="" title="news">Tin tức mới nhất</a>
                    </li>
                    <li class="zoom-small news-category-nk">
                      <img src="./assets/images/speaker.png" alt="speaker" />
                      <a href="" title="news">Tin tức thị trường</a>
                    </li>
                    <li class="zoom-small news-category-nk">
                      <img src="./assets/images/speaker.png" alt="speaker" />
                      <a href="" title="news">Điểm tin BĐS</a>
                    </li>
                    <li class="zoom-small news-category-nk">
                      <img src="./assets/images/speaker.png" alt="speaker" />
                      <a href="" title="news">Tin tức tuyển dụng</a>
                    </li>
                    <li class="zoom-small news-category-nk">
                      <img src="./assets/images/speaker.png" alt="speaker" />
                      <a href="" title="news">Tin tức pháp lý</a>
                    </li>
                  </ul>
                </div>
                <div class="box-news-sidebar news-tag">
                  <h2 class="title">Danh mục tin tức</h2>
                  <div class="tag">
                    <a href="#" class="tag-item zoom-small news-tag-nk"
                      >#Thị trường</a
                    >
                    <a href="#" class="tag-item zoom-small news-tag-nk"
                      >#Kiến trúc</a
                    >
                    <a href="#" class="tag-item zoom-small news-tag-nk"
                      >#Nhà đẹp</a
                    >
                    <a href="#" class="tag-item zoom-small news-tag-nk"
                      >#KCN 5 sao</a
                    >
                    <a href="#" class="tag-item zoom-small news-tag-nk"
                      >#Kiến trúc</a
                    >
                    <a href="#" class="tag-item zoom-small news-tag-nk"
                      >#Căn hộ</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="home-news-block" class="project-block">
        <div class="container">
          <div class="row">
            <h3 class="col-md-12 general-title">Tin Tức Liên Quan</h3>

            <div
              id="home-news-slide"
              class="related-news project-slide col-md-12"
            >
              <div class="swiper-wrapper">
                <div class="news-slide-item swiper-slide">
                  <div class="news-img-wrapper">
                    <a href="#">
                      <img
                        class="project-img zoom"
                        src="./assets/images/blog_img.png"
                        alt="img"
                      />
                    </a>
                  </div>

                  <a href="#">
                    <h4 class="max-line-2 home-news-title">
                      Căn hộ deluxe4. Amet minim mollit non deserunt ullamco est
                      sit aliqua dolor do amet sint. Velit it aliqua
                    </h4>
                  </a>
                  <a href="#">
                    <p class="project-description max-line-4 home-news-des">
                      Amet minim mollit nonAmet minim mollit non deserunt
                      ullamco est sit aliqua dolor do amet sint. Velit it
                      aliquaAmet minim mollit non deserunt ullamco est sit
                      aliqua dolor do amet sint. Velit it aliqua
                    </p>
                  </a>
                </div>
                <div class="news-slide-item swiper-slide">
                  <div class="news-img-wrapper">
                    <a href="#">
                      <img
                        class="project-img zoom"
                        src="./assets/images/blog_img.png"
                        alt="img"
                      />
                    </a>
                  </div>

                  <a href="#">
                    <h4 class="max-line-2 home-news-title">
                      Căn hộ deluxe4. Amet minim mollit non deserunt ullamco est
                      sit aliqua dolor do amet sint. Velit it aliqua
                    </h4>
                  </a>
                  <a href="#">
                    <p class="project-description max-line-4 home-news-des">
                      Amet minim mollit nonAmet minim mollit non deserunt
                      ullamco est sit aliqua dolor do amet sint. Velit it
                      aliquaAmet minim mollit non deserunt ullamco est sit
                      aliqua dolor do amet sint. Velit it aliqua
                    </p>
                  </a>
                </div>
                <div class="news-slide-item swiper-slide">
                  <div class="news-img-wrapper">
                    <a href="#">
                      <img
                        class="project-img zoom"
                        src="./assets/images/blog_img.png"
                        alt="img"
                      />
                    </a>
                  </div>

                  <a href="#">
                    <h4 class="max-line-2 home-news-title">
                      Căn hộ deluxe4. Amet minim mollit non deserunt ullamco est
                      sit aliqua dolor do amet sint. Velit it aliqua
                    </h4>
                  </a>
                  <a href="#">
                    <p class="project-description max-line-4 home-news-des">
                      Amet minim mollit nonAmet minim mollit non deserunt
                      ullamco est sit aliqua dolor do amet sint. Velit it
                      aliquaAmet minim mollit non deserunt ullamco est sit
                      aliqua dolor do amet sint. Velit it aliqua
                    </p>
                  </a>
                </div>
                <div class="news-slide-item swiper-slide">
                  <div class="news-img-wrapper">
                    <a href="#">
                      <img
                        class="project-img zoom"
                        src="./assets/images/blog_img.png"
                        alt="img"
                      />
                    </a>
                  </div>

                  <a href="#">
                    <h4 class="max-line-2 home-news-title">
                      Căn hộ deluxe4. Amet minim mollit non deserunt ullamco est
                      sit aliqua dolor do amet sint. Velit it aliqua
                    </h4>
                  </a>
                  <a href="#">
                    <p class="project-description max-line-4 home-news-des">
                      Amet minim mollit nonAmet minim mollit non deserunt
                      ullamco est sit aliqua dolor do amet sint. Velit it
                      aliquaAmet minim mollit non deserunt ullamco est sit
                      aliqua dolor do amet sint. Velit it aliqua
                    </p>
                  </a>
                </div>
                <div class="news-slide-item swiper-slide">
                  <div class="news-img-wrapper">
                    <a href="#">
                      <img
                        class="project-img zoom"
                        src="./assets/images/blog_img.png"
                        alt="img"
                      />
                    </a>
                  </div>

                  <a href="#">
                    <h4 class="max-line-2 home-news-title">
                      Căn hộ deluxe4. Amet minim mollit non deserunt ullamco est
                      sit aliqua dolor do amet sint. Velit it aliqua
                    </h4>
                  </a>
                  <a href="#">
                    <p class="project-description max-line-4 home-news-des">
                      Amet minim mollit nonAmet minim mollit non deserunt
                      ullamco est sit aliqua dolor do amet sint. Velit it
                      aliquaAmet minim mollit non deserunt ullamco est sit
                      aliqua dolor do amet sint. Velit it aliqua
                    </p>
                  </a>
                </div>
                <div class="news-slide-item swiper-slide">
                  <div class="news-img-wrapper">
                    <a href="#">
                      <img
                        class="project-img zoom"
                        src="./assets/images/blog_img.png"
                        alt="img"
                      />
                    </a>
                  </div>

                  <a href="#">
                    <h4 class="max-line-2 home-news-title">
                      Căn hộ deluxe4. Amet minim mollit non deserunt ullamco est
                      sit aliqua dolor do amet sint. Velit it aliqua
                    </h4>
                  </a>
                  <a href="#">
                    <p class="project-description max-line-4 home-news-des">
                      Amet minim mollit nonAmet minim mollit non deserunt
                      ullamco est sit aliqua dolor do amet sint. Velit it
                      aliquaAmet minim mollit non deserunt ullamco est sit
                      aliqua dolor do amet sint. Velit it aliqua
                    </p>
                  </a>
                </div>
                <div class="news-slide-item swiper-slide">
                  <div class="news-img-wrapper">
                    <a href="#">
                      <img
                        class="project-img zoom"
                        src="./assets/images/blog_img.png"
                        alt="img"
                      />
                    </a>
                  </div>

                  <a href="#">
                    <h4 class="max-line-2 home-news-title">
                      Căn hộ deluxe4. Amet minim mollit non deserunt ullamco est
                      sit aliqua dolor do amet sint. Velit it aliqua
                    </h4>
                  </a>
                  <a href="#">
                    <p class="project-description max-line-4 home-news-des">
                      Amet minim mollit nonAmet minim mollit non deserunt
                      ullamco est sit aliqua dolor do amet sint. Velit it
                      aliquaAmet minim mollit non deserunt ullamco est sit
                      aliqua dolor do amet sint. Velit it aliqua
                    </p>
                  </a>
                </div>
                <div class="news-slide-item swiper-slide">
                  <div class="news-img-wrapper">
                    <a href="#">
                      <img
                        class="project-img zoom"
                        src="./assets/images/blog_img.png"
                        alt="img"
                      />
                    </a>
                  </div>

                  <a href="#">
                    <h4 class="max-line-2 home-news-title">
                      Căn hộ deluxe4. Amet minim mollit non deserunt ullamco est
                      sit aliqua dolor do amet sint. Velit it aliqua
                    </h4>
                  </a>
                  <a href="#">
                    <p class="project-description max-line-4 home-news-des">
                      Amet minim mollit nonAmet minim mollit non deserunt
                      ullamco est sit aliqua dolor do amet sint. Velit it
                      aliquaAmet minim mollit non deserunt ullamco est sit
                      aliqua dolor do amet sint. Velit it aliqua
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer-block">
      <div class="footer-wrapper">
        <div class="container">
          <div class="row footer-header">
            <div class="col-md-8">
              <a href="#">
                <img
                  class="footer-logo"
                  src="./assets/images/footer_logo.png"
                  alt="logo"
              /></a>
            </div>
            <div class="col-md-2 col-6 footer-header-item item1">
              <p>Hotline miễn phí <span>(24/7)</span></p>
              <a href="tel:0865528506">086-522-8506</a>
            </div>
            <div class="col-md-2 col-6 footer-header-item item2">
              <p>Chăm sóc khách hàng</p>
              <a href="mailto:hotro@kland.vn">hotro@kland.vn</a>
            </div>
          </div>

          <div class="row header-content">
            <div class="col-md-3 header-content-item has-line">
              <h4>Giới thiệu</h4>
              <p class="about-p-1">
                Công ty CP Tư vấn và Dịch vụ đầu tư Bất động sản Kland
              </p>
              <p class="about-p-2">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat duis enim velit
              </p>
            </div>
            <div class="col-md-3 header-content-item has-line">
              <h4>Liên hệ</h4>
              <div class="contact-item">
                <a href="tel:0865228506"
                  ><img src="./assets/images/phone.png" alt="contact" />
                  <div>
                    <p>Hot line</p>
                    <span>0865228506</span>
                  </div></a
                >
              </div>
              <div class="contact-item">
                <a href="mailto:Contact@kland.com"
                  ><img src="./assets/images/mail.png" alt="contact" />
                  <div>
                    <p>E-mail</p>
                    <span>Contact@kland.com</span>
                  </div></a
                >
              </div>
              <div class="contact-item">
                <a href="#"
                  ><img src="./assets/images/map-pin.png" alt="contact" />
                  <div>
                    <p>Địa chỉ</p>
                    <span>Số 12 đường Láng, TP Hà Nội</span>
                  </div></a
                >
              </div>
            </div>
            <div
              class="col-md-3 header-content-item has-line header-content-item-link"
            >
              <h4>Liên kết khác</h4>
              <a target="_blank" href="http://kjobs.vn"><p>kjobs.vn</p></a>
              <a target="_blank" href="http://kcar.vn"><p>kcar.vn</p></a>
              <a target="_blank" href="http://trustconsulting.vn"
                ><p>trustconsulting.vn</p></a
              >
            </div>
            <div class="col-md-3 header-content-item header-content-item-store">
              <h4>Kland device</h4>
              <a target="_blank" href="#"
                ><img
                  class="zoom-small"
                  src="./assets/images/chplay.png"
                  alt="ch"
              /></a>
              <a target="_blank" href="#"
                ><img
                  class="zoom-small"
                  src="./assets/images/appstore.png"
                  alt="appstore"
              /></a>
            </div>
          </div>

          <div class="row header-end">
            <div class="col-md-3 header-end-1">
              <a href="#" target="_blank" rel="noopener noreferrer"
                ><p>@2022 Kland powred by OKHUB</p></a
              >
            </div>
            <div class="col-md-3 header-end-2">
              <a href="#" target="_blank"
                ><img
                  class="zoom"
                  src="./assets/images/fb.png"
                  alt="social-link"
              /></a>
              <a href="#" target="_blank"
                ><img
                  class="zoom"
                  src="./assets/images/youtube.png"
                  alt="social-link"
              /></a>
              <a href="#" target="_blank"
                ><img
                  class="zoom"
                  src="./assets/images/insta.png"
                  alt="social-link"
              /></a>

              <a href="#" target="_blank"
                ><img
                  class="zoom"
                  src="./assets/images/twitter.png"
                  alt="social-link"
              /></a>
            </div>
            <div class="col-md-6 header-end-3">
              Kland Vietnam & JustConsulting - Vietnam Real Estate Channel &
              Support Legal
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="request-btn zoom-small">
      <a href="#">
        <img src="./assets/images/request.png" alt="img" />
        <p>Gửi yêu cầu</p>
      </a>
    </div>
    <div class="booking-btn zoom-small">
      <a
        href="javascript:void(0)"
        data-toggle="modal"
        data-target=".booking-modal"
      >
        <img src="./assets/images/header-booking.png" alt="img" />
        <p>Đặt lịch</p>
      </a>
    </div>
    <div
      class="modal fade booking-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myLargeModalLabel"
      aria-hidden="true"
    >
      <div
        class="modal-dialog modal-dialog-centered modal-lg booking-modal-wrapper"
      >
        <div class="modal-content">
          <button
            type="button"
            class="close close-modal-btn"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body booking-block">
            <div class="container">
              <div class="row">
                <div class="col-md-12 booking-layout">
                  <div class="booking-outside">
                    <div class="booking-bg"></div>
                    <div class="booking-wrapper">
                      <div class="row z-10">
                        <h3 class="booking-title z-10">Đặt Lịch Xem BĐS</h3>
                        <p class="col-md-6 booking-content z-10 p-0">
                          Amet minim mollit non deserunt ullamco est sit aliqua
                          dolor do amet sint. Velit it aliqua dolor do amet
                          sint. Velit it aliqua dolor do amet sint. Velit
                        </p>
                      </div>
                      <form action="#" class="row z-10 booking-form">
                        <div class="col-md-6 z-10 booking-left-input-group">
                          <input
                            type="text"
                            class="form-control booking-input"
                            placeholder="Họ và tên"
                            value=""
                            required
                          />
                          <input
                            type="number"
                            class="form-control booking-input"
                            placeholder="Số điện thoại"
                            value=""
                            required
                          />
                          <input
                            type="email"
                            class="form-control booking-input"
                            placeholder="Email"
                            value=""
                            required
                          />
                          <input
                            type="text"
                            class="form-control booking-input date-picker-nk"
                            placeholder="Thời gian đặt lịch"
                            value=""
                            required
                          />
                          <select
                            class="form-select booking-input booking-select"
                            name="booking_type"
                            id="booking_type"
                            value=""
                          >
                            <option value="">Địa điểm bất động sản</option>
                            <option value="1">Địa điểm bất động sản 1</option>
                            <option value="2">Địa điểm bất động sản 2</option>
                            <option value="3">Địa điểm bất động sản 3</option>
                          </select>

                          <div class="add-on">
                            <p>Các dịch vụ hỗ trợ khác</p>
                            <img src="./assets/images/plus.png" alt="plus" />
                          </div>
                        </div>
                        <div class="add-on-list col-md-6 z-10 p-0">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-check booking-form-check">
                                <input
                                  class="form-check-input booking-checkbox"
                                  type="checkbox"
                                  value=""
                                  id="cb1"
                                />
                                <label
                                  class="form-check-label booking-checkbox-label"
                                  for="cb1"
                                >
                                  Dịch vụ dẫn dắt tham quan sản phẩm offline
                                  <br />
                                  <span
                                    >Thăm quan trực tiếp BĐS & thương thảo làm
                                    việc trực tiếp với chủ nhà/ban quản lý
                                    (100$/lần)</span
                                  >
                                </label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-check booking-form-check">
                                <input
                                  class="form-check-input booking-checkbox"
                                  type="checkbox"
                                  value=""
                                  id="cb2"
                                />
                                <label
                                  class="form-check-label booking-checkbox-label"
                                  for="cb2"
                                >
                                  Dịch vụ luật sư và tư vấn đi cùng trợ giúp
                                  <br />
                                  <span
                                    >Luật sư tư vấn viên đi cùng hỗ trợ thương
                                    thảo Kiểm tra tính pháp lý (100$/lần ~
                                    3h)</span
                                  >
                                </label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-check booking-form-check">
                                <input
                                  class="form-check-input booking-checkbox"
                                  type="checkbox"
                                  value=""
                                  id="cb3"
                                />
                                <label
                                  class="form-check-label booking-checkbox-label"
                                  for="cb3"
                                >
                                  Dịch vụ dẫn dắt tham quan sản phẩm offline
                                  <br />
                                  <span
                                    >Đưa đón trong khoảng 100km (100$/lần)</span
                                  >
                                </label>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <p class="booking-note">
                                (*) "quý khách hàng có thể liên hệ trực tiếp qua
                                email: <br />
                                contact@kland.vn để đặt lịch và nhận tư vấn"
                              </p>
                            </div>
                            <div class="col-md-12 booking-content-input">
                              <label for="content" class="form-label"
                                >Thông điệp và yêu cầu của bạn</label
                              >
                              <textarea
                                class="form-control"
                                id="content"
                                rows="3"
                                placeholder="Nội dung yêu cầu khác"
                              ></textarea>
                            </div>
                          </div>
                        </div>
                        <button
                          type="submit"
                          class="btn booking-btn-submit z-10 zoom-small"
                        >
                          Đặt lịch ngay
                          <!-- <img
                        src="./assets/images/long_arrow_right.png"
                        alt="icon"
                      /> -->
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/vendor.min.js"></script>
    <script src="./assets/js/swiper-bundle.min.js"></script>
    <script src="./assets/js/bootstrap-datepicker.min.js"></script>
    <script src="./assets/js/bootstrap-datepicker.vi.min.js"></script>
    <script src="./assets/js/bootstrap-datepicker.ja.min.js"></script>
    <script src="./assets/js/bootstrap-datepicker.ko.min.js"></script>
    <script src="./assets/js/bootstrap-datepicker.zh-CN.min.js"></script>
    <script src="./assets/js/theia-sticky-sidebar.js"></script>
    <script src="./assets/js/index.js"></script>
    <script src="./assets/js/menu.js"></script>

    <script src="./assets/js/sticky.js"></script>
  </body>
</html>
