* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #333333;
  touch-action: manipulation;
}

a {
  text-decoration: none;
  color: unset;
  transition: 0.2s;
}

a:hover {
  text-decoration: none;
  opacity: 1;
}

ul,
li {
  list-style-type: none;
  margin: 0px;
}

img {
  display: block;
  width: 100%;
  transition: 0.2s;
}

ul,
li {
  list-style: none;
  margin: 0;
}

body {
  font-family: "Nunito Sans";
}

a {
  text-decoration: none;
  color: #0e4f72;
}

a:hover {
  color: unset;
}

.btn:hover {
  color: unset;
}

a:focus {
  text-decoration: none;
}

.btn:focus,
button {
  outline: none;
  box-shadow: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: unset;
}

.nav-tabs .nav-link {
  border: 0;
  border-color: unset;
}

.container {
  /* custum */
  max-width: 1232px;
  margin: 0 auto;
}

.container,
.container-fluid {
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 16px;
  padding-right: 16px;
}

.pr-8 {
  padding-right: 8px;
}

.pl-8 {
  padding-left: 8px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-24 {
  padding-right: 24px;
}

.mr-8 {
  margin-right: 8px;
}

img {
  object-fit: cover;
}

select.form-select {
  -moz-appearance: none;
  /* Firefox */
  -webkit-appearance: none;
  /* Safari and Chrome */
  appearance: none;
  background-image: url("../images/arrow_down.png") !important;
  border: 1px solid rgba(51, 51, 51, 0.1) !important;
  border-radius: 8px !important;
  background-position: right 0.6rem center !important;
  background-size: 12px 6px !important;
  background-repeat: no-repeat;
}

.form-control {
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 8px;
  height: 38px;
}

.form-select {
  border: 1px solid rgba(51, 51, 51, 0.1);
  border-radius: 8px;
  height: 40px;
}

#scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #eeeeee;
}

#scrollbar::-webkit-scrollbar {
  width: 4px;
  background-color: #eeeeee;
}

#scrollbar::-webkit-scrollbar-thumb {
  background-color: #424242;
  width: 6px;
}

.max-line-1 {
  display: -webkit-box !important;
  -webkit-line-clamp: 1 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical !important;
  /* autoprefixer: off !important; */
}

.max-line-2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical !important;
  /* autoprefixer: off !important; */
}

.max-line-3 {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical !important;
  /* autoprefixer: off !important; */
}

.max-line-4 {
  display: -webkit-box !important;
  -webkit-line-clamp: 4 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical !important;
  /* autoprefixer: off !important; */
}

.max-line-5 {
  display: -webkit-box !important;
  -webkit-line-clamp: 5 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  -webkit-box-orient: vertical !important;
  /* autoprefixer: off !important; */
}

.border-gradient {
  height: 1px;
  width: 100%;
  background: rgb(228, 160, 12);
  background: linear-gradient(90deg,
      rgba(228, 160, 12, 1) 0%,
      rgba(255, 255, 255, 1) 100%);
}

.order-first {
  order: -1;
}

/* end box map */
@media screen and (max-width: 767px) {
  select.form-select {
    background-position: right 0.6rem center !important;
  }

  .d-sm-none {
    display: none !important;
  }
}