/* Menu */
#main-header ul {
  margin-left: 0 !important;
}

.dropdown .navbar-nav {
  margin-left: 0 !important;
}

.navbar-nav .nav-item.active>.nav-link,
.navbar-nav .nav-item:active:focus>.nav-link,
.navbar-nav .nav-item:active>.nav-link,
.navbar-nav .nav-item:focus>.nav-link,
.navbar-nav .nav-item:hover>.nav-link {
  color: #f26b33;
}

#main-header .nav-link {
  color: #ffffff;
}

.nav-item.dropdown>.navbar-nav .nav-item {
  color: #000;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.nav-item.dropdown>.navbar-nav .nav-item:first-child {
  padding-top: 10px;
}

.nav-item.dropdown>.navbar-nav .nav-item {
  margin-right: 0 !important;
}

.navbar-expand-lg .navbar-nav .nav-link,
.navbar-nav .nav-link {
  font-family: "Poppins";
  font-size: 14px;
}

.navbar-nav .nav-item {
  margin-right: 35px;
}

.bg-tran {
  background-color: #0425A0 !important;
}

.nav-fix {
  background-color: #1f3da7;
}

.nav-fix .search-item:hover i {
  color: #fff;
}

.nav-fix .navbar-nav .nav-item {
  color: rgba(255, 255, 255, 0.4);
}

.nav-fix.border-bottom-header {
  border: 0;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0995138);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0995138);
}

.nav-fix.ongtt-cs-color {
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0995138);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.0995138);
}

.nav-fix .navbar-nav .nav-item.active>.nav-link,
.nav-fix .navbar-nav .nav-item:active:focus>.nav-link,
.nav-fix .navbar-nav .nav-item:active>.nav-link,
.nav-fix .navbar-nav .nav-item:focus>.nav-link,
.nav-fix .navbar-nav .nav-item:hover>.nav-link {
  color: #fff;
}

.nav-fix .logo {
  display: none;
}

.nav-fix .logo-fixed {
  display: block;
}

.navbar-toggler.toggler-spring {
  position: relative;
  z-index: 99;
}

.navbar-toggler.toggler-spring {
  width: 23px;
  height: 18px;
}

.navbar-toggler .navbar-toggler-icon {
  background-color: #ff5310;
}

.navbar-toggler.toggler-spring .navbar-toggler-icon {
  height: 2px;
}

.navbar-toggler .navbar-toggler-icon::before {
  background-color: #ff5310;
}

.navbar-toggler.toggler-spring .navbar-toggler-icon::before {
  top: 8px;
  height: 2px;
}

.navbar-toggler .navbar-toggler-icon::after {
  background-color: #ff5310;
}

.navbar-toggler.toggler-spring .navbar-toggler-icon::after {
  top: 16px;
  height: 2px;
}

.navbar-toggler:focus {
  outline: none;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {

  .bsnav-mobile .navbar {
    padding-bottom: 0;
  }

  .bsnav-mobile .navbar {
    background-color: #00154f;
    padding: 90px 0 15px;
  }

  .navbar-wrap {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
  }

  .navbar-wrap .navbar-nav .nav-item {
    margin-right: 0;
    color: #fff;
  }

  .navbar-wrap.nav-fix {
    background-color: #1f3da7;
  }

  .navbar-wrap .bsnav {
    padding: 20px;
  }

  .contact-wrap form {
    margin: 0;
  }

  .bsnav-mobile .navbar-nav .nav-item {
    position: relative;
  }

  .bsnav-mobile .mb-btn {
    width: 50px !important;
    overflow: hidden;
    text-indent: -9999px;
    position: absolute !important;
    right: 0;
    top: 0;
    border: none !important;
  }

  .navbar-nav .nav-item .nav-link {
    background-image: none !important;
    width: auto;
    height: auto;
    font-size: 14px;
  }

  .bsnav-mobile .mb-link {
    color: #fff;
    padding: 13px 0;
    display: inline-block;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Poppins-semibold";
    padding: 5px 0;
  }

  .mb-btn i {
    display: block;
  }

  .bsnav-mobile .mb-btn i {
    text-indent: initial;
    text-align: center;
    color: #fff;
  }

  .bsnav-mobile .in .mb-link i,
  .bsnav-mobile .in .nav-link i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .bsnav-mobile .navbar-nav .nav-item .mb-link i,
  .bsnav-mobile .navbar-nav .nav-item .nav-link i {
    float: right;
    font-size: 25px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .bsnav-mobile .navbar-nav .nav-item .navbar-nav {
    padding-top: 0;
  }
}